.today_total_kuang{
    display: flex;
    width: 92%;
    height: 88%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    top: 6%;
    left: 4%;
}

.today_total_unit{
    display: flex;
    width: 25%;
    height: 120px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ttu_today{
    display: flex;
    height: 20px;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
}

.ttu_today .ttu_today_w{
    display: flex;
    color: #ccc;
}

.ttu_today .ttu_today_n{
    display: flex;
    color: red;
}

.ttu_total{
    display: flex;
    height: 30px;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    color: #577FF4;
}

.ttu_total .ttu_total_n{
    display: flex;
    font-size: 40px;
}

.ttu_total .ttu_total_w{
    display: flex;
    font-size: 8px;
    align-self: flex-start;
}

.ttu_word{
    display: flex;
    height: 20px;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    color: #000;
}

.ttd_line_view{
    display: flex;
    width: 8%;
    height: 90%;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}

.ttd_line{
    display: flex;
    width: 0;
    height: 60%;
    border: none;
    border-right: 1px solid #ccc;
}