$topht: 46px;
$topfsize: 20px;
$width100: 100%;

body, html{
    font-size: 12px;
}

.index{
    height: auto;
    min-height: 800Px;
    background-color: #F6F5FA;
}

.page_top{
    display: flex;
    width: $width100;
    height: $topht;
    background-color: #fff;
    flex-direction: row;
    color: #000;
}

.page_top_back{
    display: flex;
    height: $topht;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    margin: 0 0 0 1.5%;
}

.page_title{
    display: flex;
    width: 93%;
    height: $topht;
    font-size: $topfsize;
    justify-content: center;
    align-items: center;
}

$topNextHt: 280px;

.page_top_next{
    display: flex;
    height: $topNextHt;
    width: $width100;
    background-color: #577FF4;
    z-index: 1;
}

.ptn_left{
    display: flex;
    width: 60%;
    flex-direction: column;
    color: #fff;
}

.second_title{
    display: flex;
    width: auto;
    height: 80px;
    justify-content: flex-start;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    padding: 0 0 0 6.5%;
}

.data_date{
    display: flex;
    width: auto;
    height: 20px;
    justify-content: flex-start;
    align-items: center;
    font-size: 10px;
    padding: 0 0 0 4%;
}

.ptn_right{
    display: flex;
    width: 25%;
    height: 50px;
    flex-direction: row;
    background-color: #fff;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    color: red;
    font-size: 12px;
    margin: 40px 0 0 15%;
}

.ptn_right .ptn_right_left{
    display: flex;
    width: 25%;
    justify-content: flex-end;
    align-items: center;
}

.ptn_right .ptn_right_left .circle{
    display: flex;
    width: 25px;
    height: 25px;
    border: 1px solid red;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}

.ptn_right .data_explain{
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
}

.today_total_msg{
    display: flex;
    width: 96%;
    height: $topNextHt;
    margin: 0% 2% 0 2%;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 170px;
}

.select_tab{
    display: flex;
    width: $width100;
    height: 100px;
    background-color: #fff;
    position: absolute;
    top: 470px;
}

.select_tab_body{
    display: flex;
    width: $width100;
    height: auto;
    min-height: 800px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: baseline;
    position: absolute;
    top: 590px;
}