.stbjt{
    display: flex;
    width: 96%;
    height: 400px;
    margin: 0% 2% 0 2%;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.stbjt_title{
    display: flex;
    font-size: 30px;
    font-weight: bold;
    align-self: start;
    flex: 1;
    align-self: flex-start;
    justify-content: flex-start;
    padding:10px 0 0 30px;
}

.stbjt_chart{
    display: flex;
    width: 100%;
    flex: 0 0 85%;
    flex-grow:1 
}