.jgywTable{
    display: flex;
    width: 98%;
    height: 100%;
    flex-direction: row;
}

.t_left,
.tl_head, 
.tl_tr,
.tr_th_gsmc,
.tr_th_ycsr,
.tr_th_cb,
.tr_th_zss,
.tr_th_khs,
.tr_head,
.tr_tr,
.tr_td_gsmc,
.tr_td_ycsr,
.tr_td_cb,
.tr_td_zss,
.tr_td_khs{
    display: flex;
    height: 40Px;
    font-size: 13Px;
}

.t_left{
    flex: 0 0 22.5%;
    flex-direction: column;   
    height: 100%;
}

.tl_head{
    width: calc(100% - 2Px);
    height: 37Px;
    background-color: #ECFBFB;
    border: 1Px solid #ECFBFB;
}

.tl_tr{
    width: 100%;
    
}

.tl_tr.cur{
    color: #fff;
    background-color: #577FF4;
    border:1px solid #577FF4;
}

.t_right{
    display: flex;
    flex: 0 0 77.5%;
    flex-direction: column;
}

.tr_head{
    width: 100%;
    flex-direction: row;
}

.tr_th_gsmc, .tr_td_gsmc{
    width: 30%;
    border: 1Px solid;
}

.tr_th_gsmc{
    background-color: #E3FDF8;
    border-color:#E3FDF8;
}

.tr_th_ycsr,.tr_td_ycsr{
    width: 22%;
    border: 1Px solid;
}

.tr_th_ycsr{
    background-color: #DAE9F9;
    border-color: #DAE9F9;
}

.tr_th_cb, .tr_td_cb{
    width: 16%;
    border: 1Px solid;
}

.tr_th_cb{
    background-color: #FFECEC;
    border-color: #FFECEC;
}

.tr_th_zss, .tr_td_zss{
    width: 16%;
    border: 1Px solid;
}

.tr_th_zss{
    background-color: #D7F7FF;
    border-color: #D7F7FF;
}

.tr_th_khs, .tr_td_khs{
    width: 16%;
    border: 1Px solid;
}

.tr_th_khs{
    background-color: #E6FDED;
    border-color: #E6FDED;
}

.tr_td_gsmc,
.tr_td_ycsr,
.tr_td_cb,
.tr_td_zss,
.tr_td_khs{
    border-color:#ccc;
    border-bottom: none;
    border-right: none;
}
/*
.tr_tr:last-child .tr_td_gsmc,
.tr_tr:last-child .tr_td_ycsr,
.tr_tr:last-child .tr_td_cb,
.tr_tr:last-child .tr_td_zss,
.tr_tr:last-child .tr_td_khs
*/
.last{
    background-color: #E5F3FF;
    border-bottom: 1px solid #ccc;
}

.tr_td_khs:last-child{
    border-right: 1px solid #ccc;
}

.tr_tr{
    width: 100%;
    flex-direction: row;
}